body {
    height:100%;
    width:100%;
    margin:0;
  }
  body {
    display:flex;
  }
  h1 {
    margin: 0 auto;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 10%;
}
  .cent {
    margin:auto;/* nice thing of auto margin if display:flex; it center both horizontal and vertical :) */
    text-align: center;
    width: 20%;
    border:1px solid rgb(197, 196, 196);
    margin-top: 10%;
    background-color: white;
    
}
.resize{
    width: 50%;
    height: auto;
}
